@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Webfonts/EOT/Metropolis-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Webfonts/EOT/Metropolis-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Webfonts/WOFF2/Metropolis-Regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Webfonts/WOFF/Metropolis-Regular.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Metropolis-light";
  src: url("../fonts/Webfonts/EOT/Metropolis-Light.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Webfonts/EOT/Metropolis-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Webfonts/WOFF2/Metropolis-Light.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Webfonts/WOFF/Metropolis-Light.woff") format("woff"); /* Pretty Modern Browsers */
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Webfonts/EOT/Metropolis-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Webfonts/EOT/Metropolis-Bold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Webfonts/WOFF2/Metropolis-Bold.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/Webfonts/WOFF/Metropolis-Bold.woff") format("woff"); /* Pretty Modern Browsers */
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Metropolis", Fallback, sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Metropolis", Fallback, sans-serif;
  font-weight: bold;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 90%;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 75px;
  width: 75px;
  margin: 0.5rem 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 400px;
}

small {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: block;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transition: -webkit-transform 0.8s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card .back {
  background: #2e3d49;
  color: #ffffff;
}

.card .front {
  padding: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .front img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .back img {
  position: relative;
  width: 89px;
  height: auto;
  top: 25%;
}

.deck .card.open .content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: transform 0.6s;
  transition: -webkit-transform 0.6s;
}

.deck .card.match .content {
  /* transform: rotateY(180deg); */
  border-radius: 5px;
  cursor: default;
  animation-name: rubberBand;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  animation-duration: 0.6s;
}

.deck .card.match .content .front {
  background: rgba(229, 247, 32, 0.7);
}

.deck .card.match .content .front img {
  opacity: 0.5;
}

.card.match .content .back {
  background: rgba(229, 247, 32, 1);
}

.deck .card.unmatched .content .front {
  /* transform: rotateY(180deg); */
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.3s;
  background: rgba(226, 4, 59, 1);
  border: 1px solid #e2043b;
}

.deck .card.unmatched img {
  opacity: 0;
}

.deck .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.fa-star {
  color: #ffd700;
}

.timer {
  display: inline-block;
  margin: 0 1rem;
}

.results-play-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0 !important;
  border-radius: 0;
  width: 100%;
}

/*
 * Styles for congratulations modal
 */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 35px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 1s ease-in-out;
  font-family: "Metropolis-light", Fallback, sans-serif;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: "Metropolis", Fallback, sans-serif;
  font-weight: bold;
  text-align: center;
}
.overlay.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #e5f720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

#starRating li {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.content-info {
  font-family: "Metropolis-light", Fallback, sans-serif;
  line-height: 1.5rem;
  font-size: 1rem;
  text-align: left;
  padding: 1rem 1rem;
  max-height: 460px;
  overflow-y: auto;
}

.btn {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: "Metropolis", Fallback, sans-serif;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.btn:disabled {
  background-color: rgba(20, 18, 20, 0.5);
}

.btn-leaders {
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  width: 200px;
  border: 1px solid #fff;
}

.btn-leaders.active {
  background: #02ccba;
  border: 1px solid #333;
}

.btn:focus {
  outline: 0;
}

.css-input {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-size: 16px;
  border-style: solid;
  padding: 8px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #050405;
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
}
.css-input:focus {
  outline: none;
}

select {
  height: 2.2rem;
}

.hidden {
  display: none;
}
.p-bold {
  font-family: "Metropolis";
  font-weight: bold;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* animations */
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.inline {
  display: inline-block !important;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 16px solid #fff;
  border-color: #e2043b transparent #e2043b transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/****** Media queries
***************************/
@media (max-width: 420px) {
  .deck .card .back img {
    position: relative;
    width: 50px;
    height: auto;
    top: 25%;
  }
  .card {
    margin: 1rem 0.3rem !important;
  }
}

@media (max-width: 320px) {
  .deck {
    width: 85%;
  }

  .deck .card {
    height: 4.7rem;
    width: 4.7rem;
  }
}

@media screen and (max-device-height: 811px) {
  .deck .card {
    height: 70px;
    width: 70px;
    margin: 1rem 0.2rem !important;
  }
}

/* Portrait */
@media screen and (device-width: 360px) and (orientation: portrait) {
  .deck .card {
    height: 62px;
    width: 62px;
    margin: 0.8rem 0.1rem !important;
  }
  .deck .card .back img {
    width: 36px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (device-aspect-ratio: 40/71) and (orientation: portrait) {
  .deck {
    width: 95%;
  }
  .deck .card {
    height: 62px;
    width: 62px;
    margin: 0.8rem 0.1rem !important;
  }
  .deck .card .back img {
    width: 36px;
  }
}
/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
  .container {
    font-size: 22px;
  }

  .deck {
    width: 600px;
    min-height: 90vh;
  }

  .deck .card {
    height: 125px;
    width: 125px;
  }

  .popup {
    width: 60%;
  }
  .content-info {
    line-height: 2rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    max-height: 500px;
    overflow-y: auto;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

table {
  font-family: "Metropolis-light", Fallback, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 0 2rem 0;
  padding: 0;
  width: auto;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.t-header {
  font-family: "Metropolis", Fallback, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 100%;
  }
  .f32 .flag {
    margin: 0 0 0 auto !important;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    border-radius: 10px;
    margin: 0 0.4rem 0.825em 0.4rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
  .t-header {
    display: none;
  }
  .btn {
    width: 100%;
  }
  .css-input {
    width: 90%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .deck .card {
    height: 70px;
    width: 70px;
    margin: 1rem 0.2rem !important;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .deck {
    width: 60%;
  }
  .deck .card {
    height: 70px;
    width: 70px;
    margin: 0.2rem 0.2rem !important;
  }
  .card .back img {
    position: relative;
    width: 40px;
    height: auto;
    top: 30%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .deck {
    width: 60%;
  }
  .deck .card {
    height: 80px;
    width: 80px;
    margin: 0.2rem 0.2rem !important;
  }
  .card .back img {
    position: relative;
    width: 40px;
    height: auto;
    top: 30%;
  }
}
