html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Permanent Marker", cursive;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 85%;
  background: #716f71;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 3.7rem;
  width: 3.7rem;
  margin: 0.2rem 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transition: -webkit-transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.card .back {
  background: #141214;
  color: #ffffff;
}

.card .front {
  padding: 0;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .front img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .back img {
  position: relative;
  width: 89px;
  height: auto;
  top: 25%;
}

.deck .card.open .content {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: transform 0.5s;
  transition: -webkit-transform 0.5s;
}

.deck .card.match .content {
  /* transform: rotateY(180deg); */
  border-radius: 5px;
  cursor: default;
  animation-name: rubberBand;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  animation-duration: 0.75s;
}

.deck .card.match .content .front {
  background: rgba(229, 247, 32, 0.7);
}

.deck .card.match .content .front img {
  opacity: 0.5;
}

.card.match .content .back {
  background: rgba(229, 247, 32, 1);
}

.deck .card.unmatched .content .front {
  /* transform: rotateY(180deg); */
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
  background: rgba(226, 4, 59, 1);
  border: 1px solid #e2043b;
}

.deck .card.unmatched img {
  opacity: 0;
}

.deck .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.fa-star {
  color: #ffd700;
}

.timer {
  display: inline-block;
  margin: 0 1rem;
}

/*
 * Styles for congratulations modal
 */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: "Gloria Hallelujah", cursive;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.overlay.show {
  visibility: visible !important;
  opacity: 100 !important;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #e5f720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

#starRating li {
  display: inline-block;
}

.content-info {
  font-family: sans-serif;
  line-height: 1.5rem;
  font-size: 1.2rem;
  text-align: left;
  padding: 1rem 2rem;
}

.btn {
  background-color: #141214;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
  display: block;
  margin: 0 auto;
  width: 50%;
  font-family: "Gloria Hallelujah", cursive;
  color: #ffffff;
  border-radius: 5px;
}
.btn:disabled {
  background-color: rgba(20, 18, 20, 0.5);
}

.css-input {
  width: 50%;
  display: block;
  margin: 15px auto;
  font-size: 16px;
  border-style: solid;
  padding: 8px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #050405;
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
}
.css-input:focus {
  outline: none;
}

select {
  height: 2.2rem;
}

.hidden {
  display: none;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
    rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
    rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
    rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* animations */
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/****** Media queries
***************************/
@media (max-width: 420px) {
  .deck .card .back img {
    position: relative;
    width: 33px;
    height: auto;
    top: 9%;
  }
}

@media (max-width: 320px) {
  .deck {
    width: 85%;
  }

  .deck .card {
    height: 4.7rem;
    width: 4.7rem;
  }
}

/* For Tablets and larger screens
****************/

@media (min-width: 768px) {
  .container {
    font-size: 22px;
  }

  .deck {
    width: 46vw;
    height: 90vh;
  }

  .deck .card {
    height: 125px;
    width: 125px;
  }

  .popup {
    width: 60%;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}

table {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 0 2rem 0;
  padding: 0;
  width: auto;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 100%;
  }
  .f32 .flag {
    margin: 0 0 0 auto !important;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
